test_webhooks_in_n8n_without_changing_webhook_url_postbin__bamboohr_example.json
{"createdAt":"2025-02-05T15:16:24.358Z","updatedAt":"2025-02-08T22:19:34.392Z","id":"sB6dC0GZ7zZHuMGF","name":"[TEMPLATE] Test Webhooks in n8n Without Changing WEBHOOK_URL (PostBin & BambooHR Example)","active":false,"nodes":[{"parameters":{},"id":"2529ea94-8427-4fbb-bac0-79fec29fe943","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[440,1220]},{"parameters":{"content":"### Requirements:\n1. **BambooHR instance** ([free trial link](https://www.bamboohr.com/signup/))\n2. **BambooHR API key*** ([documentation](https://documentation.bamboohr.com/docs/getting-started#authentication))\n3. **Slack connection** ([n8n documentation](https://docs.n8n.io/integrations/builtin/credentials/slack/))\n* **Note about API key**: Set up in n8n as Generic Credential (Basic Auth) with the API key as the username and any string for the password.\n\n","height":151.03568930452542,"width":550.7128407259806,"color":6},"id":"067ce1b6-a511-448b-a268-7d0869ed2b36","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,980]},{"parameters":{"content":"## Other use cases for BambooHR webhook\n1. Fraud & Compliance Monitoring (Triggered by Pay Rate, Pay Type, Compensation Change Reason, Bonus Amount, Commission Amount)\n2. Offboarding & Security Access Revocation (Triggered by Employment Status, Job Title, Department, Location)\n3. Manager Change Alert for Team & Workflow Updates (Triggered by Reporting To, Job Title, Department)","height":154.2786603126325,"width":804.2810233962304,"color":7},"id":"62a65021-8bc5-4bd3-95e4-b0616c0cbbe6","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,1620]},{"parameters":{"content":"## Create a new Bin in PostBin (STEP #1 above)","height":246.1007234368067,"width":600.2141303561856,"color":7},"id":"63e5f28a-83ea-44be-ad91-ab2b635551a1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,1140]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"1afbac45-116e-4c8b-886c-24a96ba286ab","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1680,1240]},{"parameters":{"content":"## Register webhook (STEP #2 above)","height":248.92215299422725,"width":424.9937286279833,"color":7},"id":"367315b0-eba5-4768-bdb0-8be23d965f6c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1840,1180]},{"parameters":{"content":"## STEP #3: Confirm webhook functionality","height":397.605174332017,"width":291.16380512688715,"color":4},"id":"5b860a4e-66c9-4996-bd8f-ac642eca9021","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1400,300]},{"parameters":{"content":"## STEP #1: Create a new Bin in PostBin\nNo authentication needed. Use API to create Bin and retrieve BinId to craft URL for subsequent usage.","height":397.94343220191183,"width":611.7032537942721,"color":4},"id":"c6d78f60-0e05-452c-b50d-4bee9b4e1220","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,300]},{"parameters":{"content":"## How to Test a Short-Lived Webhook in n8n **WITHOUT** Changing WEBHOOK_URL\nTypically in n8n, in order to test a webhook, you first need to go through the process of changing the [**WEBHOOK_URL**](https://docs.n8n.io/hosting/configuration/configuration-examples/webhook-url/) environment variable to an address that is accessible to the service you want to test. Time permitting, that can be done with [ngrok](https://ngrok.com/docs/getting-started/) ([example](https://docs.n8n.io/hosting/installation/server-setups/)) or by self-hosting with one of [n8n's recommended deployment options](https://docs.n8n.io/hosting/installation/server-setups/).\n\nBut if you're new to n8n and in a rush to test a webhook's functionality, you can use [PostBin](https://www.postb.in/) as demonstrated in this workflow to test a proof of concept fast and avoid any unnecessary time on n8n setup and configuration.","height":593.490746966612,"width":1140.1894415469083,"color":7},"id":"6bdd564e-daf7-4259-a283-547f8257dcce","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,140]},{"parameters":{"content":"**This may respond with a 404**\nIf no requests have been sent to the Bin, an error is raised.","height":80,"width":255.54164387152053,"color":2},"id":"06b12932-bc46-46ff-a316-518cd1e24546","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1420,600]},{"parameters":{"method":"POST","url":"https://www.postb.in/api/bin","options":{}},"id":"17eabcf5-9ae7-4e79-bdb5-3664fa286aeb","name":"Create Bin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,420]},{"parameters":{"operation":"get","binId":"={{ $json.binId }}","requestOptions":{}},"id":"5b233ff1-475a-48a7-a5d2-4ce82adb2213","name":"GET Bin","type":"n8n-nodes-base.postBin","typeVersion":1,"position":[860,420]},{"parameters":{"content":"Uses API call to bypass broken PostBin create bin endpoint in n8n.","height":80,"width":182.23771342026427,"color":7},"id":"14e0b2fc-f1bb-4eae-be81-069641f27b53","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,600]},{"parameters":{"content":"Retrieve the binId (can also be found in response of Create Bin node). Craft a url that uses `https://www.postb.in/:binId` structure","height":80,"width":351.0986223154297,"color":7},"id":"2eb51697-744e-4bfc-ae3e-ad28bcdc21b1","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,600]},{"parameters":{"content":"**Per PostBin API Documentation:**\nYou can hit the https://www.postb.in/:binId endpoint to collect any kind of request data whether it is a GET, POST, PUT, PATCH, DELETE or whatever. This particular endpoint is not RESTful and is not part of this API. It isn't RESTful by definition. ie. it is meant to collect whatever you send to it.","height":113.5322633928848,"width":631.0482952232512},"id":"ae7367be-ca86-4cac-a763-3627a176d988","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,740]},{"parameters":{"assignments":{"assignments":[{"id":"5235b8f1-f284-472f-b6a5-25c16bc4a66e","name":"webhook_url","value":"=https://www.postb.in/{{ $json.binId }}","type":"string"},{"id":"35d56f07-4f6b-422a-8a03-0c3e49f4d734","name":"binId","value":"={{ $json.binId }}","type":"string"}]},"options":{}},"id":"be327737-1e33-4107-9f98-66a6d66d2886","name":"Format url for webhook","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,420]},{"parameters":{"resource":"request","operation":"removeFirst","binId":"={{ $('Format url for webhook').item.json.binId }}","requestOptions":{}},"id":"463d247c-ac97-4d79-a0c9-8c0785240a73","name":"GET most recent request","type":"n8n-nodes-base.postBin","typeVersion":1,"position":[1500,420]},{"parameters":{"resource":"request","operation":"send","binId":"={{ $('Format url for webhook').item.json.binId }}","binContent":"=","requestOptions":{}},"id":"ef07fa4e-1411-474e-ba98-171abae9542d","name":"MOCK request","type":"n8n-nodes-base.postBin","typeVersion":1,"position":[1260,580]},{"parameters":{"content":"## Example: Register and test a webhook in BambooHR\n### Scenario: Send a notification to Slack when new employees join the company","height":962.561104644939,"width":4124.530158203355,"color":4},"id":"6769b161-6dff-4732-b1cd-900b2e64ffc9","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,900]},{"parameters":{"method":"POST","url":"https://www.postb.in/api/bin","options":{}},"id":"a7f57c0a-3918-450b-b1a7-edd80e6edcf6","name":"Create Bin1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,1220]},{"parameters":{"operation":"get","binId":"={{ $json.binId }}","requestOptions":{}},"id":"8a9ef96b-eb99-4fe5-aa82-0b4453d90dff","name":"GET Bin1","type":"n8n-nodes-base.postBin","typeVersion":1,"position":[1060,1220]},{"parameters":{"assignments":{"assignments":[{"id":"5235b8f1-f284-472f-b6a5-25c16bc4a66e","name":"url","value":"=https://www.postb.in/{{ $json.binId }}","type":"string"},{"id":"35d56f07-4f6b-422a-8a03-0c3e49f4d734","name":"binId","value":"={{ $json.binId }}","type":"string"}]},"options":{}},"id":"c70ff70f-80c6-4516-b278-bad82655d78c","name":"Format url for webhook1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,1220]},{"parameters":{"assignments":{"assignments":[{"id":"89c9eb04-196b-4cb0-afec-dab071dcc471","name":"subdomain","value":"jef","type":"string"}]},"options":{}},"id":"793cd3ab-1459-4382-b9f7-5630869a871e","name":"SET BambooHR subdomain","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,1480],"executeOnce":true},{"parameters":{"fieldToSplitOut":"fields","options":{}},"id":"06703339-8e5b-4267-ae23-15540ea00692","name":"Split out fields","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1060,1480]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"alias","renameField":true,"outputFieldName":"monitorFields"}]},"options":{}},"id":"b8086b64-0e27-4294-a230-3d6f428a2ddb","name":"Combine fields to monitor","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1460,1480]},{"parameters":{"assignments":{"assignments":[{"id":"188d1a10-d32c-4e48-8bad-f8a5002c34a9","name":"name","value":"Webhook Test","type":"string"},{"id":"cfcd6de9-c20f-4935-8b5f-548bd6c381bf","name":"format","value":"json","type":"string"},{"id":"c0b22bc7-d873-4973-9e27-6931dde4b8b1","name":"limit.times","value":1,"type":"number"},{"id":"5e912e0a-d3fe-46e5-b85a-b22be0ae3eb1","name":"limit.seconds","value":60,"type":"number"},{"id":"0a197fcf-4d30-4112-a441-5ee4dbfaa350","name":"postFields","value":"={{ {\"employeeNumber\": \"Employee #\",\n        \"firstName\": \"First name\",\n        \"lastName\": \"Last name\",\n        \"jobTitle\": \"Job title\"} }}","type":"object"},{"id":"aa292476-0ee2-49fc-afce-4788ff37475a","name":"frequency","value":"={\n  \"hour\": null,\n  \"minute\": null,\n  \"day\": null,\n  \"month\": null\n}","type":"object"},{"id":"0e6c44e5-c918-4897-b865-5e1848ff8444","name":"subdomain","value":"={{ $('SET BambooHR subdomain').first().json.subdomain }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"binId","options":{}},"id":"6c75204f-8527-467f-b982-bed268843fde","name":"Format payload for BambooHR webhook","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1900,1240]},{"parameters":{"method":"POST","url":"=https://api.bamboohr.com/api/gateway.php/{{ $json.subdomain }}/v1/webhooks/","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.removeField(\"subdomain\").toJsonString() }}","options":{}},"id":"b0191582-e8d3-4432-b8e8-38ff0fc782fb","name":"Create webhook in BambooHR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,1240],"credentials":{"httpBasicAuth":{"id":"oWgT1h26xhj5egwF","name":"BambooHR Basic Auth"}}},{"parameters":{"category":"randomData","randomDataCount":3},"id":"6f8d47f3-1a80-4317-a9eb-89188c70618c","name":"Create dummy data for employees","type":"n8n-nodes-base.debugHelper","typeVersion":1,"position":[2380,1240]},{"parameters":{"content":"## GET fields from BambooHR to monitor for changes [[src]](https://documentation.bamboohr.com/reference/get-monitor-fields)","height":368.01097806266364,"width":794.510445997778,"color":7},"id":"b3ba2315-f7d7-474b-9f06-3dbad510fb93","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,1407.2486467347771]},{"parameters":{"content":"## Test webhook","height":250.72353860519,"width":416.47592441009544,"color":7},"id":"34956bf7-ef81-425b-a348-bffa99f278bd","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2320,1180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1daab1a-bee5-4308-82f9-6660e957722d","leftValue":"={{ [\"employmentHistoryStatus\",\"employeeStatusDate\",\"hireDate\",\"originalHireDate\"] }}","rightValue":"={{ $json.alias }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"id":"077934b0-21c5-49ef-9482-fa52ecbe917f","name":"Keep only new employee fields","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1260,1480]},{"parameters":{"content":"### Note about this section\nDepending on your familiarity with BambooHR and your intention with the webhook, you could hard code the fields to monitor with your webhook or use AI to filter based on topic. I chose a middle ground for this example.\n","height":101.29440680672363,"width":568.1578343498747},"id":"ecd27c9d-fe7a-45fa-b085-e68535c334af","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[820,1653.074026323302]},{"parameters":{"url":"=https://api.bamboohr.com/api/gateway.php/{{ $json.subdomain }}/v1/webhooks/monitor_fields","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"id":"2b0ee3a5-1b9f-4f8f-b024-2c576573d2d6","name":"GET all possible fields to monitor in BambooHR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,1480],"credentials":{"httpBasicAuth":{"id":"oWgT1h26xhj5egwF","name":"BambooHR Basic Auth"}}},{"parameters":{},"id":"97923d51-c895-4215-b808-4ade22ea6011","name":"Register and test webhook","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1260,420]},{"parameters":{"content":"## STEP #2\nUse the PostBin URL in place of your normal webhook","height":397.57230173351894,"width":157.46160832218783,"color":4},"id":"4e48efac-eec6-48cc-b940-b04bda667953","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1228.9696450873366,300]},{"parameters":{"content":"## STEP #3: Confirm webhook functionality","height":497.77627578351644,"width":296.68826711085643,"color":7},"id":"f7147f00-19d1-4c0f-a75b-a7fd18f16c31","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2940,1040]},{"parameters":{"url":"=https://api.bamboohr.com/api/gateway.php/{{ $('Format payload for BambooHR webhook').item.json.subdomain }}/v1/webhooks/{{ $('Create webhook in BambooHR').item.json.id }}/log","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"id":"ea428b8f-fb4c-44bd-bcf0-bb7f40f3ed98","name":"Check BambooHR for calls to webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3040,1140],"credentials":{"httpBasicAuth":{"id":"oWgT1h26xhj5egwF","name":"BambooHR Basic Auth"}},"onError":"continueRegularOutput"},{"parameters":{"firstName":"={{ $json.firstname }}","lastName":"={{ $json.lastname }}","additionalFields":{"department":18264,"hireDate":"={{ $now }}"}},"id":"2aa4610d-48a8-4c15-be21-1adbb3bb8b1a","name":"Create employee records with dummy data","type":"n8n-nodes-base.bambooHr","typeVersion":1,"position":[2580,1240],"credentials":{"bambooHrApi":{"id":"0vLUHSDvjqBHdHpO","name":"BambooHR account"}}},{"parameters":{"fieldToSplitOut":"body.employees","options":{}},"id":"f912f38c-fb3b-4357-87fe-cca9aea7ebf4","name":"Split out employees","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3300,1340]},{"parameters":{"assignments":{"assignments":[{"id":"41e8a654-af0e-42db-a9f8-23bc951d34a9","name":"displayName","value":"={{ $json.fields[\"First name\"].value + \" \" +  $json.fields[\"Last name\"].value}}","type":"string"}]},"options":{}},"id":"200f8afe-f872-4598-b376-6e5cd053aa7d","name":"Format displayName","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3500,1340]},{"parameters":{"options":{}},"id":"5fdf5f56-42ea-4891-9b66-5d3d290d0862","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4100,1480],"credentials":{"openAiApi":{"id":"yWpagxp5s8o3dlBp","name":"OpenAi account"}}},{"parameters":{},"id":"c3b02b2a-2135-41da-a881-25cf2135ff71","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[4200,1480]},{"parameters":{"options":{}},"id":"e32e3977-1a4c-4b74-839e-278621ac59ec","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4200,1640],"credentials":{"openAiApi":{"id":"yWpagxp5s8o3dlBp","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"welcome_message\": \"We are excited to welcome employee_name to the company!\"\n}"},"id":"aaf59e1e-4db6-416b-8602-d5dab0959783","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4420,1640]},{"parameters":{"promptType":"define","text":"=Write a message to be shared with other employees welcoming our new {{ $json.keys().first() + \": \" + $json.values().first().join(', ').replace(/ ([^,]*)$/, ' and $1') }} to the company.","hasOutputParser":true},"id":"cc6702aa-8e96-40ad-805e-306e94b0be13","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[4100,1340]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"displayName","renameField":true,"outputFieldName":"=employee"}]},"options":{}},"id":"7f2d7505-5554-4ea4-8bf9-1e05c56c2bc6","name":"Combine employees into list","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3700,1340]},{"parameters":{"keys":{"key":[{"currentKey":"employee","newKey":"=employee{{ $if($json.employee.length > 1,\"s\",\"\") }}"}]},"additionalOptions":{}},"id":"b897a173-254f-445f-a3af-db9398d0c904","name":"Pluralize key","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[3900,1340]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08BWLDFS48","mode":"list","cachedResultName":"social"},"text":"={{ $json.output.welcome_message }}","otherOptions":{}},"id":"7e0474f1-3a9a-4b30-91eb-0b0d107d8bd1","name":"Welcome employees on Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[4480,1340],"webhookId":"700f2d63-f04a-4809-9602-75f3328b56f8","credentials":{"slackApi":{"id":"COOCYn1WX67n0F0n","name":"Slack account"}}},{"parameters":{"content":"## (For example purposes) Send message to Slack channel welcoming new employees","height":545.950640999295,"width":1380.619460919744,"color":7},"id":"99cd4b68-a789-4a78-9636-c26554d703ed","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3260,1240]},{"parameters":{"content":"## FOR TESTING: DELETE WEBHOOK","height":275.27825144542527,"width":342.10949704718837,"color":3},"id":"37839a6d-b616-4e24-b24f-659064752360","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4340,920]},{"parameters":{"method":"DELETE","url":"=https://api.bamboohr.com/api/gateway.php/{subdomain}/v1/webhooks/{webhook_id}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"id":"0e03ab51-dace-4aed-9f4e-16fbbb7f7173","name":"DELETE BambooHR webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4460,1020],"credentials":{"httpBasicAuth":{"id":"oWgT1h26xhj5egwF","name":"BambooHR Basic Auth"}}},{"parameters":{"content":"BambooHR's `/webhook` API endpoint expects arguments passed in the body of the request. You can see what arguments are required in their [documentation](https://documentation.bamboohr.com/reference/post-webhook) and [examples](https://documentation.bamboohr.com/docs/webhook-api-permissioned). In the arguments we pass through, we have set our webhook to fire at the same frequency as BambooHR's rate limit: 1 time every 60 seconds.","height":134.02025779064905,"width":424.0067532215409},"id":"81dc0021-3a7d-41f9-aef9-126143b51e9a","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1840,1440]},{"parameters":{"content":"### What is this?\nIn the above two nodes, we performing two actions:\n\n1. Checking BambooHR for a record of calls made by it to the webhook URL we registered (provided by PostBin).\n2. Retrieving the most recent call made by BambooHR to the webhook URL from PostBin.","height":227.09133367749476,"width":295.8585062958632},"id":"b4a246ff-200a-40bc-a79c-4f51b24e0948","name":"Sticky Note21","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2940,1557.4137607776859]},{"parameters":{"resource":"request","operation":"removeFirst","binId":"={{ $('Merge').item.json.binId }}","requestOptions":{}},"id":"b09041d0-42b7-4084-b336-5d9af288acf9","name":"GET most recent request1","type":"n8n-nodes-base.postBin","typeVersion":1,"position":[3040,1340],"onError":"continueRegularOutput"},{"parameters":{"amount":61},"id":"ee2543e5-5fc6-48e1-a574-d351380df732","name":"Wait 60 + 1 seconds for webhook to fire","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2780,1240],"webhookId":"61bbec81-dcf5-441e-b6dd-ad96b429e80d","executeOnce":true},{"parameters":{"content":"## About the maker\n**[Find Ludwig Gerdes on LinkedIn](https://www.linkedin.com/in/ludwiggerdes)**","height":87.34661077350344,"width":256.0973815349037,"color":5},"id":"6f6a95ee-ec01-429c-8710-edc52b6cc185","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,780]},{"parameters":{"content":"![image](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjM4dWFjeW1lNGVxc2Vsd2Z0aXB4cWNzZmN6aG41Y296cXVnem10eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5cL9WAVQREF3TkfhXj/giphy.gif#full-width)","height":240.80136668021893,"width":255.71137685448693,"color":7},"id":"fc8344ab-f643-4bc2-af97-a2022834b3c8","name":"Sticky Note22","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,520]},{"parameters":{"content":"## What's happening here?\nIn this section, we do the following:\n1. Extract employee information from webhook call (from PostBin)\n2. Create a displayName from each employee's first and last name\n3. Combine the names into a list and format the key\n4. Ask OpenAI to compose a welcome message with the employee names\n5. Post that welcome message to Slack","height":251.31245942384516,"width":410.05041971203013},"id":"58c5c5a6-2210-4506-9470-d6a55fae421a","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3280,1517.2043765224669]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Create Bin1","type":"main","index":0},{"node":"SET BambooHR subdomain","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Format payload for BambooHR webhook","type":"main","index":0}]]},"Create Bin":{"main":[[{"node":"GET Bin","type":"main","index":0}]]},"GET Bin":{"main":[[{"node":"Format url for webhook","type":"main","index":0}]]},"Format url for webhook":{"main":[[{"node":"Register and test webhook","type":"main","index":0}]]},"Create Bin1":{"main":[[{"node":"GET Bin1","type":"main","index":0}]]},"GET Bin1":{"main":[[{"node":"Format url for webhook1","type":"main","index":0}]]},"Format url for webhook1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"SET BambooHR subdomain":{"main":[[{"node":"GET all possible fields to monitor in BambooHR","type":"main","index":0}]]},"Split out fields":{"main":[[{"node":"Keep only new employee fields","type":"main","index":0}]]},"Combine fields to monitor":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Format payload for BambooHR webhook":{"main":[[{"node":"Create webhook in BambooHR","type":"main","index":0}]]},"Create webhook in BambooHR":{"main":[[{"node":"Create dummy data for employees","type":"main","index":0}]]},"Create dummy data for employees":{"main":[[{"node":"Create employee records with dummy data","type":"main","index":0}]]},"Keep only new employee fields":{"main":[[{"node":"Combine fields to monitor","type":"main","index":0}]]},"GET all possible fields to monitor in BambooHR":{"main":[[{"node":"Split out fields","type":"main","index":0}]]},"Register and test webhook":{"main":[[{"node":"GET most recent request","type":"main","index":0}]]},"Create employee records with dummy data":{"main":[[{"node":"Wait 60 + 1 seconds for webhook to fire","type":"main","index":0}]]},"Split out employees":{"main":[[{"node":"Format displayName","type":"main","index":0}]]},"Format displayName":{"main":[[{"node":"Combine employees into list","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Welcome employees on Slack","type":"main","index":0}]]},"Combine employees into list":{"main":[[{"node":"Pluralize key","type":"main","index":0}]]},"Pluralize key":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"GET most recent request1":{"main":[[{"node":"Split out employees","type":"main","index":0}]]},"Wait 60 + 1 seconds for webhook to fire":{"main":[[{"node":"Check BambooHR for calls to webhook","type":"main","index":0},{"node":"GET most recent request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4dfd0bc5-0de3-4e5f-9cdf-e25bad5277fa","triggerCount":0,"tags":[{"createdAt":"2025-02-08T21:20:40.051Z","updatedAt":"2025-02-08T21:20:40.051Z","id":"qtD3SYKEoYtiqguT","name":"building_blocks"},{"createdAt":"2025-02-08T21:20:49.438Z","updatedAt":"2025-02-08T21:20:49.438Z","id":"mCgqKYNfNWwqIQG3","name":"ai"},{"createdAt":"2025-02-08T21:20:57.598Z","updatedAt":"2025-02-08T21:20:57.598Z","id":"EjQkfx3v7nH79HWo","name":"hr"},{"createdAt":"2025-02-08T21:21:43.564Z","updatedAt":"2025-02-08T21:21:43.564Z","id":"suSDrJxibUi10zsu","name":"engineering"}]}